[Unit]
Description=OLED Display Service
After=mpd.service

[Service]
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/python /home/pi/MPD_Extension/main.py
StandardOutput=syslog
StandardError=syslog
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
